*.apk
*.aar
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
release/
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
local.properties
*.properties
!gradle.properties
!gradle/wrapper/gradle-wrapper.properties
.navigation/
captures/
*.iml
.idea/
!/.idea/codeStyles/
!/.idea/inspectionProfiles/
!/.idea/runConfigurations.xml
.kotlin/
*.jks
*.keystore
*.pem
keystore/
keystore.properties
keystore-credentials.txt
keystore-base64.txt
credentials.txt
.externalNativeBuild
.cxx/
google-services.json
*.hprof
*.zip
.DS_Store
Thumbs.db
competitor_analysis/
tmp/
logcat.txt
**/logcat.txt
